'.source.coffee':
  '@autorun':
    'prefix': 'autorun'
    'body': """@autorun => $0"""
  'Tracker Autorun':
    'prefix': 'tautorun'
    'body': """Tracker.autorun => $0"""
  'Tacker NonReactive':
    'prefix': 'tnonreactive'
    'body': """Tracker.nonreactive => $0"""

'.text.html':
  '{{#if}}':
    'prefix': 'if'
    'body': """
      {{#if ${1:bool}}}
        $0
      ${2:\{\{else\}\}}
      {{/if}}
    """
